
	<h1>All Contacts</h1>
	<ul>
	<% Contact.all.each do |contact| %>
	<li><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %> <%= contact.notes %></a> </li>
	<% end %>
